.Button {
    background-color: #91a4a4;
    width: 90%;
    height: 90%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bolder;
}

.Button:hover {
    cursor: pointer;
    background-color: #91a4a46e;
}

.Button:active {
    box-shadow: 1px 1px 1px 1px
}